
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    
    
}

.section1{
    background-image: url(images/developer.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

}

.intro_text{
    
    color: #fff;
    max-width: 100%;
    padding-top: 20%;
    font-size: 250%;
    margin: 0 auto;
    padding-left: 40px;
    padding-top: 80px;
    font-weight: bold;
    

}

.small_text {
    font-size: 60%;
}

.black_box {
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
    
    
}

.black_box h2 {
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    color: white;
}

.black_box h2 span {
    font-size: 250%;
}

.work{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}
.card{
    max-width: 20%;
    height: 20%;
}